<head>
	<title>{{ site.title }}</title>
	<link rel="canonical" href="http://plantsciencesymposium.ucdavis.edu/" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta property="og:image" content="http://plantsciencesymposium.ucdavis.edu/assets/images/background/olive-unsplash.jpg" />
	<meta property="og:description" content="Register NOW!" />
	<meta property="og:url"content="http://plantsciencesymposium.ucdavis.edu" />
	<meta property="og:title" content="2022 UC Davis Plant Sciences Symposium" />

	<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/main.css" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/ie8.css" /><![endif]-->
</head>

