
<!-- Intro Start -->

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
        		{% if page.layout != "index" %}
	        <a class="page-scroll" href="http://uc-d.adobeconnect.com/ucdpbs2016/">
    		    {% else %}
        	<a class="page-scroll" href="http://uc-d.adobeconnect.com/ucdpbs2016/">
      			{% endif %}
              <img class="img-me" src="{{site.baseurl}}{{ site.me-img }}" alt="Register NOW!" style="z-index: 100;
    left: 0;
    width: 30%;
    height: 30%;
    margin-left: 0;
    border: 3px solid #000000;
    border-radius: 150%;
    text-align: center;
    color: #000;
    background-color: #f1f1f1;
">
            </a>
          </div>
        </div>
    </div>
  </div>
</header>

<!-- Intro End -->
