
<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"  data-offset="151">

    {% include navigation.html %}

    {% include header.html %}

    {% assign pages = site.pages | sort:"order" %}

  {% for page in pages %}

    {% if page.section-type == "register" %}

      {% include register.html %}

    {% endif %}

  {% endfor %}

  
    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Index Layout End -->
